.logo{
  display: block;
  margin: auto;
  margin-top: 200px;
  width: 250px;
}
.menubtn{
  position: absolute;
  right: 0;
  top:0;
}
.searchbar{
  display: block;
  width: 50%;
  height: 30px;
  resize: none;
  font-size: 15px;
  margin: auto;
}
div{
  padding: 15px;
}
/*
#grid{
  display: grid;
  grid-template-columns: 1fr 30px;
}
*/
@media(min-width:1000px){
  .searchbar{
    width:500px;
  }
}
@media(max-width:550px){
  .searchbar{
    width: 250px;
  }
}
